.common-header-wrapper {
  background: linear-gradient(
    247.62deg,
    rgba(80, 49, 145, 0.39) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  .search-box {
    width: 70%;
    height: 40px;
    background: rgba(80, 49, 145, 0.2);
    border-radius: 24px;
    overflow: hidden;
    padding-left: 12px;
    .ant-input-outlined {
      background: transparent;
      border: none;
    }
    .ant-btn-default {
      background: transparent;
    }
    .ant-btn{
      border: none;
    }
    input {
      color: #00000080;
    }
  }
  .common-nav-wrapper {
    background: #503191;
    color: white;
  }
}
