.common-footer-wrapper {
  background: #f8f8fc;
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  footer {
    width: 1320px;
    margin: 0 auto;
    .jss319 {
      height: 200px;
      flex-grow: 1;
      border-right: 1px solid rgba(0, 0, 0, 0.26);
    }
    .jss320 {
      width: 100%;
      max-width: 200px;
      margin-right: 20px;
      > span {
        margin: 0;
        display: block;
        font-size: 1rem;
        font-weight: 900;
      }
    }
    .jss321 {
      display: block;
      font-size: 0.875rem;
      margin-top: 20px !important;
      font-weight: 900;
      line-height: 0.93;
      color: #0f69af;
      cursor: pointer;
    }
    .jss322 {
      margin: 7px -7px 8px 0;
      display: flex;
      flex-wrap: wrap;
    }
    .jss323 {
      margin: 8px 8px 7px 0;
      flex-shrink: 0;
    }
    .jss324 {
      width: 100%;
      max-width: 330px;
      margin-left: 68px;
    }
  }
  .jss328 {
    width: 1320px;
    margin: 0 auto;
    font-size: 12px;
    margin-top: 32px;
  }
  .jss329 {
    font-weight: 900;
  }
  .jss330 {
    display: flex;
  }
  .jss331 {
    margin-right: 8px;
  }
  .jss332 {
    margin-top: 0;
  }
  .jss333 {
    font-weight: 900;
    color: #0f69af;
    text-decoration: none;
  }
  .jss334 {
    color: #c9c9c9;
    padding: 0px 8px;
  }
  .jss335 {
    display: block;
    margin-bottom: 0;
  }
}
