input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
div {
  border-width: 0;
  border-style: solid;
}
